<!-- 'm-body--fixed' add this class later on to this first div!!!!!   -->

<div style="background-image: url(assets/student_assets/app/media/img/bg/bg-1.jpg); background-size:cover !important" class="m-page--boxed  m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- begin::Header -->
    <header class="m-grid__item	m-grid m-grid--desktop m-grid--hor-desktop  m-header ">
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--hor-desktop m-container m-container--responsive m-container--xxl">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-header__wrapper">
          <!-- begin::Brand -->
          <div class="m-grid__item m-brand">
            <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
              <div class="m-stack__item m-stack__item--middle m-brand__logo">
                <a href="index.html" class="m-brand__logo-wrapper">
                  <img alt="" src="assets/student_assets/demo/demo4/media/img/logo/logo.png" />
                </a>
              </div>
              <div class="m-stack__item m-stack__item--middle m-brand__tools">
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" data-dropdown-toggle="click"
                  aria-expanded="true">
                  <a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
                    <span>
                      Dashboard
                    </span>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section--first m--hide">
                              <span class="m-nav__section-text">
                                Quick Menu
                              </span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
                                  Human Resources
                                </span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
                                  Customer Relationship
                                </span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-info"></i>
                                <span class="m-nav__link-text">
                                  Order Processing
                                </span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                <span class="m-nav__link-text">
                                  Accounting
                                </span>
                              </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
                                  Customer Relationship
                                </span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-info"></i>
                                <span class="m-nav__link-text">
                                  Order Processing
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                  <span></span>
                </a>
                <!-- END -->
                <!-- begin::Responsive Header Menu Toggler-->
                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                  <span></span>
                </a>
                <!-- end::Responsive Header Menu Toggler-->
                <!-- begin::Topbar Toggler-->
                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                  <i class="flaticon-more"></i>
                </a>
                <!--end::Topbar Toggler-->
              </div>
            </div>
          </div>
          <!-- end::Brand -->
          <!-- begin::Topbar -->
          <div class="m-grid__item m-grid__item--fluid m-header-head" id="m_header_nav">
            <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
              <div class="m-stack__item m-topbar__nav-wrapper">
                <ul class="m-topbar__nav m-nav m-nav--inline">
                  <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
                    data-dropdown-toggle="click" data-dropdown-persistent="true">
                    <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                      <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                      <span class="m-nav__link-icon">
                        <span class="m-nav__link-icon-wrapper">
                          <i class="flaticon-music-2"></i>
                        </span>
                      </span>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center" style="background: url(assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
                          <span class="m-dropdown__header-title">
                            9 New
                          </span>
                          <span class="m-dropdown__header-subtitle">
                            User Notifications
                          </span>
                        </div>
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                              <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                  Alerts
                                </a>
                              </li>
                              <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
                                  Events
                                </a>
                              </li>
                              <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
                                  Logs
                                </a>
                              </li>
                            </ul>
                            <div class="tab-content">
                              <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                <div class="m-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                                  <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                        <span class="m-list-timeline__text">
                                          12 new users registered
                                        </span>
                                        <span class="m-list-timeline__time">
                                          Just now
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge"></span>
                                        <span class="m-list-timeline__text">
                                          System shutdown
                                          <span class="m-badge m-badge--success m-badge--wide">
                                            pending
                                          </span>
                                        </span>
                                        <span class="m-list-timeline__time">
                                          14 mins
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge"></span>
                                        <span class="m-list-timeline__text">
                                          New invoice received
                                        </span>
                                        <span class="m-list-timeline__time">
                                          20 mins
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge"></span>
                                        <span class="m-list-timeline__text">
                                          DB overloaded 80%
                                          <span class="m-badge m-badge--info m-badge--wide">
                                            settled
                                          </span>
                                        </span>
                                        <span class="m-list-timeline__time">
                                          1 hr
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge"></span>
                                        <span class="m-list-timeline__text">
                                          System error -
                                          <a href="#" class="m-link">
                                            Check
                                          </a>
                                        </span>
                                        <span class="m-list-timeline__time">
                                          2 hrs
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item m-list-timeline__item--read">
                                        <span class="m-list-timeline__badge"></span>
                                        <span href="" class="m-list-timeline__text">
                                          New order received
                                          <span class="m-badge m-badge--danger m-badge--wide">
                                            urgent
                                          </span>
                                        </span>
                                        <span class="m-list-timeline__time">
                                          7 hrs
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item m-list-timeline__item--read">
                                        <span class="m-list-timeline__badge"></span>
                                        <span class="m-list-timeline__text">
                                          Production server down
                                        </span>
                                        <span class="m-list-timeline__time">
                                          3 hrs
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge"></span>
                                        <span class="m-list-timeline__text">
                                          Production server up
                                        </span>
                                        <span class="m-list-timeline__time">
                                          5 hrs
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                <div class="m-scrollable" m-scrollabledata-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                                  <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                        <a href="" class="m-list-timeline__text">
                                          New order received
                                        </a>
                                        <span class="m-list-timeline__time">
                                          Just now
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
                                        <a href="" class="m-list-timeline__text">
                                          New invoice received
                                        </a>
                                        <span class="m-list-timeline__time">
                                          20 mins
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                        <a href="" class="m-list-timeline__text">
                                          Production server up
                                        </a>
                                        <span class="m-list-timeline__time">
                                          5 hrs
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                        <a href="" class="m-list-timeline__text">
                                          New order received
                                        </a>
                                        <span class="m-list-timeline__time">
                                          7 hrs
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                        <a href="" class="m-list-timeline__text">
                                          System shutdown
                                        </a>
                                        <span class="m-list-timeline__time">
                                          11 mins
                                        </span>
                                      </div>
                                      <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                        <a href="" class="m-list-timeline__text">
                                          Production server down
                                        </a>
                                        <span class="m-list-timeline__time">
                                          3 hrs
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                  <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                    <span class="">
                                      All caught up!
                                      <br> No new logs.
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
                    data-dropdown-toggle="click">
                    <a href="#" class="m-nav__link m-dropdown__toggle">
                      <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                      <span class="m-nav__link-icon">
                        <span class="m-nav__link-icon-wrapper">
                          <i class="flaticon-share"></i>
                        </span>
                      </span>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center" style="background: url(assets/student_assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
                          <span class="m-dropdown__header-title">
                            Quick Actions
                          </span>
                          <span class="m-dropdown__header-subtitle">
                            Shortcuts
                          </span>
                        </div>
                        <div class="m-dropdown__body m-dropdown__body--paddingless">
                          <div class="m-dropdown__content">
                            <div class="m-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
                              <div class="m-nav-grid m-nav-grid--skin-light">
                                <div class="m-nav-grid__row">
                                  <a href="#" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-file"></i>
                                    <span class="m-nav-grid__text">
                                      Generate Report
                                    </span>
                                  </a>
                                  <a href="#" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-time"></i>
                                    <span class="m-nav-grid__text">
                                      Add New Event
                                    </span>
                                  </a>
                                </div>
                                <div class="m-nav-grid__row">
                                  <a href="#" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-folder"></i>
                                    <span class="m-nav-grid__text">
                                      Create New Task
                                    </span>
                                  </a>
                                  <a href="#" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-clipboard"></i>
                                    <span class="m-nav-grid__text">
                                      Completed Tasks
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                    data-dropdown-toggle="click">
                    <a href="#" class="m-nav__link m-dropdown__toggle">
                      <span class="m-topbar__welcome m--hidden-tablet m--hidden-mobile">
                        Hello,&nbsp;
                      </span>
                      <span class="m-topbar__username m--hidden-tablet m--hidden-mobile m--padding-right-15">
                        <span class="m-link">
                          Nick
                        </span>
                      </span>
                      <span class="m-topbar__userpic">
                        <img src="assets/student_assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt=""
                        />
                      </span>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center" style="background: url(assets/student_assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                          <div class="m-card-user m-card-user--skin-dark">
                            <div class="m-card-user__pic">
                              <img src="assets/student_assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />
                            </div>
                            <div class="m-card-user__details">
                              <span class="m-card-user__name m--font-weight-500">
                                Mark Andre
                              </span>
                              <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                mark.andre@gmail.com
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="m-nav m-nav--skin-light">
                              <li class="m-nav__section m--hide">
                                <span class="m-nav__section-text">
                                  Section
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="profile.html" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-profile-1"></i>
                                  <span class="m-nav__link-title">
                                    <span class="m-nav__link-wrap">
                                      <span class="m-nav__link-text">
                                        My Profile
                                      </span>
                                      <span class="m-nav__link-badge">
                                        <span class="m-badge m-badge--success">
                                          2
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="profile.html" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-share"></i>
                                  <span class="m-nav__link-text">
                                    Activity
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="profile.html" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-chat-1"></i>
                                  <span class="m-nav__link-text">
                                    Messages
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__separator m-nav__separator--fit"></li>
                              <li class="m-nav__item">
                                <a href="profile.html" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-info"></i>
                                  <span class="m-nav__link-text">
                                    FAQ
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="profile.html" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                  <span class="m-nav__link-text">
                                    Support
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__separator m-nav__separator--fit"></li>
                              <li class="m-nav__item">
                                <a href="snippets/pages/user/login-1.html" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                  Logout
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end::Topbar -->
        </div>
      </div>
    </header>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
        <div class="m-grid__item m-body__nav">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Horizontal Menu -->
            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
              <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                <i class="la la-close"></i>
              </button>
              <dashboard-header-nav></dashboard-header-nav>
            </div>
            <!-- end::Horizontal Menu -->
            <!--begin::Search-->
            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
              id="m_quicksearch" data-search-type="default">
              <!--begin::Search Form -->
              <form class="m-header-search__form">
                <div class="m-header-search__wrapper">
                  <span class="m-header-search__icon-search" id="m_quicksearch_search">
                    <i class="la la-search"></i>
                  </span>
                  <span class="m-header-search__input-wrapper">
                    <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
                  </span>
                  <span class="m-header-search__icon-close" id="m_quicksearch_close">
                    <i class="la la-remove"></i>
                  </span>
                  <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                    <i class="la la-times"></i>
                  </span>
                </div>
              </form>
              <!--end::Search Form -->
              <!--begin::Search Results -->
              <div class="m-dropdown__wrapper">
                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__scrollable m-scrollable" data-max-height="300" data-mobile-max-height="200">
                      <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Search Results -->
            </div>
            <!--end::Search-->
          </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
          <!-- BEGIN: Left Aside -->
          <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
            <i class="la la-close"></i>
          </button>
         <!-- <dashboard-sidebar></dashboard-sidebar> -->
         
          <div id="m_aside_left" class="m-grid__item m-aside-left ">
            <!-- BEGIN: Aside Menu -->
            <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " data-menu-vertical="true"
              data-menu-scrollable="false" data-menu-dropdown-timeout="500">
              <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                <li class="m-menu__section">
                  <h4 class="m-menu__section-text">
                    Placeholder
                  </h4>
                  <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                  <a [routerLink]="['../office/students']" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-bullet fa fa-user">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      Students
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                  </a>
                  <div class="m-menu__submenu ">
                    <!-- <span class="m-menu__arrow"></span> -->
                    <ul class="m-menu__subnav">
                      <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                          <span class="m-menu__link-text">
                            Resources
                          </span>
                        </span>
                      </li>
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a href="inner.html" class="m-menu__link ">
                          <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
                            Timesheet
                          </span>
                        </a>
                      </li>
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a href="inner.html" class="m-menu__link ">
                          <i class="m-menu__link-bullet fa fa-table">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
                            Payroll
                          </span>
                        </a>
                      </li>
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a href="inner.html" class="m-menu__link ">
                          <i class="m-menu__link-bullet fa fa-book">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
                            Contacts
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

          
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
                  <a [routerLink]="['../office/staff']" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-bullet fa fa-flask">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                     Staff
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                  </a>
                  <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                      <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" data-redirect="true">
                        <span class="m-menu__link">
                          <span class="m-menu__link-text">
                            Support
                          </span>
                        </span>
                      </li>
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a href="inner.html" class="m-menu__link ">
                          <span class="m-menu__link-text">
                            Reports
                          </span>
                        </a>
                      </li>
                      <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
                        <a href="#" class="m-menu__link m-menu__toggle">
                          <span class="m-menu__link-text">
                            Cases
                          </span>
                          <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                          <span class="m-menu__arrow"></span>
                          <ul class="m-menu__subnav">
                            <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                              <a href="inner.html" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                  Pending
                                </span>
                              </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                              <a href="inner.html" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                  Urgent
                                </span>
                              </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                              <a href="inner.html" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                  Done
                                </span>
                              </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                              <a href="inner.html" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                  Archive
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a href="inner.html" class="m-menu__link ">
                          <span class="m-menu__link-text">
                            Clients
                          </span>
                        </a>
                      </li>
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a href="inner.html" class="m-menu__link ">
                          <span class="m-menu__link-text">
                            Audit
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
  
                <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                    <a [routerLink]="['../office/departments']" class="m-menu__link ">
                      <i class="m-menu__link-bullet fa fa-cog">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Departments
                      </span>
                    </a>
                  </li>

                  <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                      <a [routerLink]="['../office/faculties']" class="m-menu__link ">
                        <i class="m-menu__link-bullet fa fa-cog">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          Faculties
                        </span>
                      </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                        <a [routerLink]="['../office/courses']" class="m-menu__link ">
                          <i class="m-menu__link-bullet fa fa-cog">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
                            Courses
                          </span>
                        </a>
                      </li>

                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                          <a [routerLink]="['../office/fees']" class="m-menu__link ">
                            <i class="m-menu__link-bullet fa fa-cog">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
                              Fees
                            </span>
                          </a>
                        </li>
                        
                      <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                          <a [routerLink]="['../office/hostels']" class="m-menu__link ">
                            <i class="m-menu__link-bullet fa fa-cog">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
                              Hostels
                            </span>
                          </a>
                        </li>
                
                  <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                    <a [routerLink]="['../office/results']" class="m-menu__link ">
                      <i class="m-menu__link-bullet fa fa-cog">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Results
                      </span>
                    </a>
                  </li>

                  <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                      <a [routerLink]="['../office/reports']" class="m-menu__link ">
                        <i class="m-menu__link-bullet fa fa-cog">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          Reports
                        </span>
                      </a>
                    </li>


              </ul>
            </div>
            <!-- END: Aside Menu -->
          </div>
          <!-- END: Left Aside -->
          <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <router-outlet>

            </router-outlet>




          </div>
        </div>
      </div>
    </div>
    <!-- begin::Body -->
    <!-- begin::Footer -->
    <footer class="m-grid__item		m-footer ">
      <div class="m-container m-container--responsive m-container--xxl">
        <div class="m-footer__wrapper">
          <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
              <span class="m-footer__copyright">
                2017 &copy; Metronic theme by
                <a href="https://keenthemes.com" class="m-link">
                  Keenthemes
                </a>
              </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
              <ul class="m-footer__nav m-nav m-nav--skin-dark m-nav--inline m--pull-right">
                <li class="m-nav__item">
                  <a href="#" class="m-nav__link">
                    <span class="m-nav__link-text">
                      About
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="#" class="m-nav__link">
                    <span class="m-nav__link-text">
                      Privacy
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="#" class="m-nav__link">
                    <span class="m-nav__link-text">
                      T&C
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="#" class="m-nav__link">
                    <span class="m-nav__link-text">
                      Purchase
                    </span>
                  </a>
                </li>
                <li class="m-nav__item m-nav__item--last">
                  <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end:: Page -->

  <!-- begin::Scroll Top -->
  <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
    <i class="la la-arrow-up"></i>
  </div>
  <!-- end::Scroll Top -->
  <!--begin::Base Scripts -->

  <!--end::Page Snippets -->
</div>