<!-- 'm-body--fixed' add this class later on to this first div!!!!!   -->
<div style="background-image: url(assets/student_assets/app/media/img/bg/bg-1.jpg)" class="m-page--boxed m-header--static m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">


        <header class="m-grid__item	m-grid m-grid--desktop m-grid--hor-desktop  m-header ">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--hor-desktop m-container m-container--responsive m-container--xxl">
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-header__wrapper">
                    <!-- begin::Brand -->
                    <div class="m-grid__item m-brand">
                        <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="index.html" class="m-brand__logo-wrapper">
                                    <img alt="" src="assets/student_assets/demo/demo4/media/img/logo/logo.png" />
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" data-dropdown-toggle="click"
                                    aria-expanded="true">
                                    <a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
                                        <span>
                                            Dashboard
                                        </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section m-nav__section--first m--hide">
                                                            <span class="m-nav__section-text">
                                                                Quick Menu
                                                            </span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Human Resources
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    Customer Relationship
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
                                                                    Order Processing
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">
                                                                    Accounting
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    Customer Relationship
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
                                                                    Order Processing
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin::Responsive Header Menu Toggler-->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- end::Responsive Header Menu Toggler-->
                                <!-- begin::Topbar Toggler-->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>
                                <!--end::Topbar Toggler-->
                            </div>
                        </div>
                    </div>
                    <!-- end::Brand -->
                    <!-- begin::Topbar -->
                    <div class="m-grid__item m-grid__item--fluid m-header-head" id="m_header_nav">
                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-topbar__nav-wrapper">
                                <ul class="m-topbar__nav m-nav m-nav--inline">
                                    <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
                                        data-dropdown-toggle="click" data-dropdown-persistent="true">
                                        <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                            <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                                            <span class="m-nav__link-icon">
                                                <span class="m-nav__link-icon-wrapper">
                                                    <i class="flaticon-music-2"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(assets/student_assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
                                                    <span class="m-dropdown__header-title">
                                                        9 New
                                                    </span>
                                                    <span class="m-dropdown__header-subtitle">
                                                        User Notifications
                                                    </span>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                                            <li class="nav-item m-tabs__item">
                                                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                                                    Alerts
                                                                </a>
                                                            </li>
                                                            <li class="nav-item m-tabs__item">
                                                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
                                                                    Events
                                                                </a>
                                                            </li>
                                                            <li class="nav-item m-tabs__item">
                                                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
                                                                    Logs
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                                                <div class="m-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                                                                    <div class="m-list-timeline m-list-timeline--skin-light">
                                                                        <div class="m-list-timeline__items">
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    12 new users registered
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    Just now
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    System shutdown
                                                                                    <span class="m-badge m-badge--success m-badge--wide">
                                                                                        pending
                                                                                    </span>
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    14 mins
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    New invoice received
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    20 mins
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    DB overloaded 80%
                                                                                    <span class="m-badge m-badge--info m-badge--wide">
                                                                                        settled
                                                                                    </span>
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    1 hr
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    System error -
                                                                                    <a href="#" class="m-link">
                                                                                        Check
                                                                                    </a>
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    2 hrs
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item m-list-timeline__item--read">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span href="" class="m-list-timeline__text">
                                                                                    New order received
                                                                                    <span class="m-badge m-badge--danger m-badge--wide">
                                                                                        urgent
                                                                                    </span>
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    7 hrs
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item m-list-timeline__item--read">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    Production server down
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    3 hrs
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    Production server up
                                                                                </span>
                                                                                <span class="m-list-timeline__time">
                                                                                    5 hrs
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                                                <div class="m-scrollable" m-scrollabledata-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                                                                    <div class="m-list-timeline m-list-timeline--skin-light">
                                                                        <div class="m-list-timeline__items">
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                                                                <a href="" class="m-list-timeline__text">
                                                                                    New order received
                                                                                </a>
                                                                                <span class="m-list-timeline__time">
                                                                                    Just now
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
                                                                                <a href="" class="m-list-timeline__text">
                                                                                    New invoice received
                                                                                </a>
                                                                                <span class="m-list-timeline__time">
                                                                                    20 mins
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                                                                <a href="" class="m-list-timeline__text">
                                                                                    Production server up
                                                                                </a>
                                                                                <span class="m-list-timeline__time">
                                                                                    5 hrs
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                                                                <a href="" class="m-list-timeline__text">
                                                                                    New order received
                                                                                </a>
                                                                                <span class="m-list-timeline__time">
                                                                                    7 hrs
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                                                                <a href="" class="m-list-timeline__text">
                                                                                    System shutdown
                                                                                </a>
                                                                                <span class="m-list-timeline__time">
                                                                                    11 mins
                                                                                </span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                                                                <a href="" class="m-list-timeline__text">
                                                                                    Production server down
                                                                                </a>
                                                                                <span class="m-list-timeline__time">
                                                                                    3 hrs
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                                                <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                                        <span class="">
                                                                            All caught up!
                                                                            <br> No new logs.
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
                                        data-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                                            <span class="m-nav__link-icon">
                                                <span class="m-nav__link-icon-wrapper">
                                                    <i class="flaticon-share"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(assets/student_assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
                                                    <span class="m-dropdown__header-title">
                                                        Quick Actions
                                                    </span>
                                                    <span class="m-dropdown__header-subtitle">
                                                        Shortcuts
                                                    </span>
                                                </div>
                                                <div class="m-dropdown__body m-dropdown__body--paddingless">
                                                    <div class="m-dropdown__content">
                                                        <div class="m-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
                                                            <div class="m-nav-grid m-nav-grid--skin-light">
                                                                <div class="m-nav-grid__row">
                                                                    <a href="#" class="m-nav-grid__item">
                                                                        <i class="m-nav-grid__icon flaticon-file"></i>
                                                                        <span class="m-nav-grid__text">
                                                                            Generate Report
                                                                        </span>
                                                                    </a>
                                                                    <a href="#" class="m-nav-grid__item">
                                                                        <i class="m-nav-grid__icon flaticon-time"></i>
                                                                        <span class="m-nav-grid__text">
                                                                            Add New Event
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="m-nav-grid__row">
                                                                    <a href="#" class="m-nav-grid__item">
                                                                        <i class="m-nav-grid__icon flaticon-folder"></i>
                                                                        <span class="m-nav-grid__text">
                                                                            Create New Task
                                                                        </span>
                                                                    </a>
                                                                    <a href="#" class="m-nav-grid__item">
                                                                        <i class="m-nav-grid__icon flaticon-clipboard"></i>
                                                                        <span class="m-nav-grid__text">
                                                                            Completed Tasks
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                        data-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__welcome m--hidden-tablet m--hidden-mobile">
                                                Hello,&nbsp;
                                            </span>
                                            <span class="m-topbar__username m--hidden-tablet m--hidden-mobile m--padding-right-15">
                                                <span class="m-link">
                                                    Nick
                                                </span>
                                            </span>
                                            <span class="m-topbar__userpic">
                                                <img src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />
                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(assets/student_assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                                    <div class="m-card-user m-card-user--skin-dark">
                                                        <div class="m-card-user__pic">
                                                            <img src="assets/student_assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />
                                                        </div>
                                                        <div class="m-card-user__details">
                                                            <span class="m-card-user__name m--font-weight-500">
                                                                Adekunle, Ciroma Yakub
                                                            </span>
                                                            <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                                <b>Matric No.</b>U1/10/ISL/TEST
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav m-nav--skin-light">
                                                            <li class="m-nav__section m--hide">
                                                                <span class="m-nav__section-text">
                                                                    Section
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="m-nav__link">
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">
                                                                                Level
                                                                            </span>
                                                                            <span class="m-nav__link-badge">
                                                                                <span class="m-badge">
                                                                                    200
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="m-nav__link">
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">
                                                                                Programme
                                                                            </span>
                                                                            <span class="m-nav__link-badge">
                                                                                <span class="m-badge">
                                                                                    Undergraduate
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="m-nav__link">
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">
                                                                                Faculty
                                                                            </span>
                                                                            <span class="m-nav__link-badge">
                                                                                <span class="m-badge">
                                                                                    Humanities
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="m-nav__link">
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">
                                                                                Session
                                                                            </span>
                                                                            <span class="m-nav__link-badge">
                                                                                <span class="m-badge">
                                                                                    2017/2018
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="m-nav__link">
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">
                                                                                Department
                                                                            </span>
                                                                            <span class="m-nav__link-badge">
                                                                                <span class="m-badge">
                                                                                    Islamic Studies
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                                            <li class="m-nav__item">
                                                                <a href="snippets/pages/user/login-1.html" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                    Logout
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end::Topbar -->
                </div>
            </div>
        </header>

        <div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                <div class="m-grid__item m-body__nav">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                                <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                    <li class="m-menu__item  m-menu__item--active " aria-haspopup="true">
                                        <a href="index.html" class="m-menu__link ">
                                            <span class="m-menu__item-here"></span>
                                            <span class="m-menu__link-text">
                                                Dashboard
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
                                        <a href="inner.html" class="m-menu__link">
                                            <span class="m-menu__item-here"></span>
                                            <span class="m-menu__link-text">
                                                Profile
                                            </span>
                                        </a>
                                        <!-- <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                                    <ul class="m-menu__subnav">
                                                        <li class="m-menu__item "  aria-haspopup="true">
                                                            <a  href="inner.html" class="m-menu__link ">
                                                                <i class="m-menu__link-icon flaticon-diagram"></i>
                                                                <span class="m-menu__link-title">
                                                                    <span class="m-menu__link-wrap">
                                                                        <span class="m-menu__link-text">
                                                                            Update Profile
                                                                        </span>
                                                                        <span class="m-menu__link-badge">
                                                                            <span class="m-badge m-badge--success">
                                                                                2
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
                                                            <a  href="#" class="m-menu__link m-menu__toggle">
                                                                <i class="m-menu__link-icon flaticon-business"></i>
                                                                <span class="m-menu__link-text">
                                                                    Manage Orders
                                                                </span>
                                                                <i class="m-menu__hor-arrow la la-angle-right"></i>
                                                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                                                            </a>
                                                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                                                <span class="m-menu__arrow "></span>
                                                                <ul class="m-menu__subnav">
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Latest Orders
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Pending Orders
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Processed Orders
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Delivery Reports
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Payments
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Customers
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
                                                            <a  href="#" class="m-menu__link m-menu__toggle">
                                                                <i class="m-menu__link-icon flaticon-chat-1"></i>
                                                                <span class="m-menu__link-text">
                                                                    Customer Feedbacks
                                                                </span>
                                                                <i class="m-menu__hor-arrow la la-angle-right"></i>
                                                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                                                            </a>
                                                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                                                <span class="m-menu__arrow "></span>
                                                                <ul class="m-menu__subnav">
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Customer Feedbacks
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Supplier Feedbacks
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Reviewed Feedbacks
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Resolved Feedbacks
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <span class="m-menu__link-text">
                                                                                Feedback Reports
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                            <a  href="inner.html" class="m-menu__link ">
                                                                <i class="m-menu__link-icon flaticon-users"></i>
                                                                <span class="m-menu__link-text">
                                                                    Register Member
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                        <a href="#" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__item-here"></span>
                                            <span class="m-menu__link-text">
                                                Payment
                                            </span>

                                        </a>
                                        <!-- <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:600px">
                                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                                    <div class="m-menu__subnav">
                                                        <ul class="m-menu__content">
                                                            <li class="m-menu__item">
                                                                <h3 class="m-menu__heading m-menu__toggle">
                                                                    <span class="m-menu__link-text">
                                                                        Finance Reports
                                                                    </span>
                                                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                                                </h3>
                                                                <ul class="m-menu__inner">
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-icon flaticon-map"></i>
                                                                            <span class="m-menu__link-text">
                                                                                Annual Reports
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-icon flaticon-user"></i>
                                                                            <span class="m-menu__link-text">
                                                                                HR Reports
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-icon flaticon-clipboard"></i>
                                                                            <span class="m-menu__link-text">
                                                                                IPO Reports
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                                                            <span class="m-menu__link-text">
                                                                                Finance Margins
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-icon flaticon-graphic-2"></i>
                                                                            <span class="m-menu__link-text">
                                                                                Revenue Reports
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="m-menu__item">
                                                                <h3 class="m-menu__heading m-menu__toggle">
                                                                    <span class="m-menu__link-text">
                                                                        Project Reports
                                                                    </span>
                                                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                                                </h3>
                                                                <ul class="m-menu__inner">
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                                                                <span></span>
                                                                            </i>
                                                                            <span class="m-menu__link-text">
                                                                                Coca Cola CRM
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                                                                <span></span>
                                                                            </i>
                                                                            <span class="m-menu__link-text">
                                                                                Delta Airlines Booking Site
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                                                                <span></span>
                                                                            </i>
                                                                            <span class="m-menu__link-text">
                                                                                Malibu Accounting
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                                                                <span></span>
                                                                            </i>
                                                                            <span class="m-menu__link-text">
                                                                                Vineseed Website Rewamp
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                                                                <span></span>
                                                                            </i>
                                                                            <span class="m-menu__link-text">
                                                                                Zircon Mobile App
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                                                                        <a  href="inner.html" class="m-menu__link ">
                                                                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                                                                <span></span>
                                                                            </i>
                                                                            <span class="m-menu__link-text">
                                                                                Mercury CMS
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div> -->
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                        <a href="#" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__item-here"></span>
                                            <span class="m-menu__link-text">
                                                Registration
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                        <a href="#" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__item-here"></span>
                                            <span class="m-menu__link-text">
                                                Reports
                                            </span>

                                        </a>
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel m-menu__item--more m-menu__item--icon-only" data-menu-submenu-toggle="click"
                                        data-redirect="true" aria-haspopup="true">
                                        <a href="#" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__item-here"></span>
                                            <i class="m-menu__link-icon flaticon-more-v3"></i>
                                            <span class="m-menu__link-text"></span>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--pull">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                    <a href="inner.html" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-business"></i>
                                                        <span class="m-menu__link-text">
                                                            eCommerce
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
                                                    <a href="crud/datatable_v1.html" class="m-menu__link m-menu__toggle">
                                                        <i class="m-menu__link-icon flaticon-computer"></i>
                                                        <span class="m-menu__link-text">
                                                            Audience
                                                        </span>
                                                        <i class="m-menu__hor-arrow la la-angle-right"></i>
                                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                                    </a>
                                                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                                        <span class="m-menu__arrow "></span>
                                                        <ul class="m-menu__subnav">
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-users"></i>
                                                                    <span class="m-menu__link-text">
                                                                        Active Users
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-interface-1"></i>
                                                                    <span class="m-menu__link-text">
                                                                        User Explorer
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-lifebuoy"></i>
                                                                    <span class="m-menu__link-text">
                                                                        Users Flows
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                                                    <span class="m-menu__link-text">
                                                                        Market Segments
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-graphic"></i>
                                                                    <span class="m-menu__link-text">
                                                                        User Reports
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                    <a href="inner.html" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-map"></i>
                                                        <span class="m-menu__link-text">
                                                            Marketing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                    <a href="inner.html" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-graphic-2"></i>
                                                        <span class="m-menu__link-title">
                                                            <span class="m-menu__link-wrap">
                                                                <span class="m-menu__link-text">
                                                                    Campaigns
                                                                </span>
                                                                <span class="m-menu__link-badge">
                                                                    <span class="m-badge m-badge--success">
                                                                        3
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
                                                    <a href="#" class="m-menu__link m-menu__toggle">
                                                        <i class="m-menu__link-icon flaticon-infinity"></i>
                                                        <span class="m-menu__link-text">
                                                            Cloud Manager
                                                        </span>
                                                        <i class="m-menu__hor-arrow la la-angle-right"></i>
                                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                                    </a>
                                                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                                        <span class="m-menu__arrow "></span>
                                                        <ul class="m-menu__subnav">
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-add"></i>
                                                                    <span class="m-menu__link-title">
                                                                        <span class="m-menu__link-wrap">
                                                                            <span class="m-menu__link-text">
                                                                                File Upload
                                                                            </span>
                                                                            <span class="m-menu__link-badge">
                                                                                <span class="m-badge m-badge--danger">
                                                                                    3
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-signs-1"></i>
                                                                    <span class="m-menu__link-text">
                                                                        File Attributes
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-folder"></i>
                                                                    <span class="m-menu__link-text">
                                                                        Folders
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                                <a href="inner.html" class="m-menu__link ">
                                                                    <i class="m-menu__link-icon flaticon-cogwheel-2"></i>
                                                                    <span class="m-menu__link-text">
                                                                        System Settings
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end::Horizontal Menu -->
                        <!--begin::Search-->
                        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
                            id="m_quicksearch" data-search-type="default">
                            <!--begin::Search Form -->
                            <form class="m-header-search__form">
                                <div class="m-header-search__wrapper">
                                    <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                        <i class="la la-search"></i>
                                    </span>
                                    <span class="m-header-search__input-wrapper">
                                        <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
                                    </span>
                                    <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                        <i class="la la-remove"></i>
                                    </span>
                                    <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                        <i class="la la-times"></i>
                                    </span>
                                </div>
                            </form>
                            <!--end::Search Form -->
                            <!--begin::Search Results -->
                            <div class="m-dropdown__wrapper">
                                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__scrollable m-scrollable" data-max-height="300" data-mobile-max-height="200">
                                            <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Search Results -->
                        </div>
                        <!--end::Search-->
                    </div>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <!-- BEGIN: Subheader -->
                     <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>





    </div>




</div>