<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
      <li class="m-menu__item  " aria-haspopup="true">
        <a href="index.html" class="m-menu__link ">
          <span class="m-menu__item-here"></span>
          <span class="m-menu__link-text">
            Dashboard
          </span>
        </a>
      </li>
      <li class="m-menu__item m-menu__item--active   m-menu__item--rel" aria-haspopup="true">
        <a href="inner.html" class="m-menu__link">
          <span class="m-menu__item-here"></span>
          <span class="m-menu__link-text">
            Profile
          </span>
        </a>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-redirect="true" aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle">
          <span class="m-menu__item-here"></span>
          <span class="m-menu__link-text">
            Payment
          </span>

        </a>
      </li>
      <li class="m-menu__item  m-menu__item--submenu" data-redirect="true" aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle">
          <span class="m-menu__item-here"></span>
          <span class="m-menu__link-text">
            Registration
          </span>
          <i class="m-menu__hor-arrow la la-angle-down"></i>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
      </li>
      <li class="m-menu__item  m-menu__item--submenu" data-redirect="true" aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle">
          <span class="m-menu__item-here"></span>
          <span class="m-menu__link-text">
            Reports
          </span>

        </a>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel m-menu__item--more m-menu__item--icon-only" data-redirect="true"
        aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle">
          <span class="m-menu__item-here"></span>
          <i class="m-menu__link-icon flaticon-more-v3"></i>
          <span class="m-menu__link-text"></span>
        </a>
        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--pull">
          <span class="m-menu__arrow m-menu__arrow--adjust"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
              <a href="inner.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-business"></i>
                <span class="m-menu__link-text">
                  eCommerce
                </span>
              </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
              <a href="crud/datatable_v1.html" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-computer"></i>
                <span class="m-menu__link-text">
                  Audience
                </span>
                <i class="m-menu__hor-arrow la la-angle-right"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                <span class="m-menu__arrow "></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                    <a href="inner.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-users"></i>
                      <span class="m-menu__link-text">
                        Active Users
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                    <a href="inner.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-interface-1"></i>
                      <span class="m-menu__link-text">
                        User Explorer
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                    <a href="inner.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-lifebuoy"></i>
                      <span class="m-menu__link-text">
                        Users Flows
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                    <a href="inner.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-graphic-1"></i>
                      <span class="m-menu__link-text">
                        Market Segments
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                    <a href="inner.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-graphic"></i>
                      <span class="m-menu__link-text">
                        User Reports
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
              <a href="inner.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-map"></i>
                <span class="m-menu__link-text">
                  Marketing
                </span>
              </a>
            </li>
            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
              <a href="inner.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-graphic-2"></i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Campaigns
                    </span>
                    <span class="m-menu__link-badge">
                      <span class="m-badge m-badge--success">
                        3
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>