<!-- footer content -->

<footer>
  <div class="copyright-info">
    <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </p>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
