<!-- begin:: Page -->
<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Sign into your Student Account
        </h3>
    </div>
    <form (ngSubmit)="signin()" class="m-login__form m-form" [formGroup]="userLoginForm">
        <ng-template #alertSignin></ng-template>
        <div class="form-group m-form__group">
            <input class="form-control m-input" type="text" placeholder="Email" formControlName="email" autocomplete="off">
        </div>
        <div class="form-group m-form__group">
            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" formControlName="password">
        </div>

        <div class="m-login__form-action">
            <button [disabled]="loading || userLoginForm.invalid" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit"
                class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" type="submit">
                Sign In
            </button>
        </div>
    </form>

    <!-- <form> -->
                <div class="row m-login__form-sub">
                    <div class="col m--align-left">
                        <label class="m-checkbox m-checkbox--focus">
                            <input type="checkbox"  #remember="">
                            Remember me
                            <span></span>
                        </label>
                    </div>
                    <div class="col m--align-right">
                        <a href="javascript:;" id="m_login_forget_password" class="m-link">
                            Forgot Password ?
                        </a>
                    </div>
                </div>
                <div class="m-login__form-action">
                    <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                        Sign In
                    </button>
                </div> 
            <!-- </form> -->
</div>

<div class="m-login__signup">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Apply
        </h3>
        <div class="m-login__desc">
            Enter your details to create your account:
        </div>
    </div>
    <!-- <form class="m-login__form m-form"> -->
        <div class="form-group m-form__group">
            <input class="form-control m-input" type="text" placeholder="Fullname">
        </div>
        <div class="form-group m-form__group">
            <input class="form-control m-input" type="text" placeholder="Email"  autocomplete="off">
        </div>
        <div class="form-group m-form__group">
            <input class="form-control m-input" type="password" placeholder="Password" >
        </div>
        <div class="form-group m-form__group">
            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password">
        </div>
        <div class="row form-group m-form__group m-login__form-sub">
            <div class="col m--align-left">
                <label class="m-checkbox m-checkbox--light">
                    <input type="checkbox" name="agree"> I Agree the
                    <a href="#" class="m-link m-link--focus">
                        terms and conditions
                    </a>
                    .
                    <span></span>
                </label>
                <span class="m-form__help"></span>
            </div>
        </div>
        <div class="m-login__form-action">
            <button id="m_login_signup_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                Apply
            </button>
            &nbsp;&nbsp;
            <button id="m_login_signup_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
                Cancel
            </button>
        </div>
    <!-- </form> -->
</div>

<div class="m-login__account">
    <span class="m-login__account-msg">
        Want to apply for admissions ?
    </span>
    &nbsp;&nbsp;
    <a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
        Apply
    </a>
</div>
<!-- end:: Page -->
<!--begin::Base Scripts -->

<!--end::Page Snippets -->