/* You can add global styles to this file, and also import other style files */
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: white!important; /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
}

.btn.btn-xs.btn-info{
    padding: 4px !important;
}